header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
  }
  
#logo {
    font-size:20px;
    font-weight: bold;
    width: 125px;
  }
  header nav {
    display: flex;
    gap: 100px;
    padding-left: 200px;
  }
  
  header nav a {
    color: #000000;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
  }
#join{
    padding-left: 250px;
}
ul {
    list-style-type: none;
}
#fondo{
background:black url(img/fodoreal.jpg) no-repeat center;
background-size: cover ;
padding-bottom: 90px;
padding-top: 0px;
}
#zul{
  color: blue;
}
section {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; 
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
}

.cuadrado {
  width: 550px; 
  height: 450px; 
  background-color: #fff; 
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 300px;
  top: 500px;
}

.cuadrado p {
  margin: 0;
}
#welc {
  font-size: 40px;
  font-family: 'Lexend', sans-serif;
  margin-bottom: 20px;
}
#yuo {
  font-size: 20px;
  font-family: 'Lexend', sans-serif;
  margin-bottom: 50px;
}
p{
  font-family: 'Lexend', sans-serif;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-top: 3px solid #555;
  bottom: -800px;
  left: 0;
  right: 0;
  position: absolute;

}
.image-container {
  position: relative;
  text-align: center;
}

.responsive-image {
  width: 100%;
  height: auto;
  max-width: 2000px;
  height: 190px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 50px;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Lexend', sans-serif;
}
.product-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: -290px 400px;
  position: absolute;
 
}

.product-item {
  width: 250px;
  object-fit: cover;
  width: calc(25% - 50px);
}

.product-image {
  width: auto;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-info h3 {
  font-size: 16px;
  margin: 5px 0;
  font-family: Arial, sans-serif;
  color: #555;
  text-decoration: none;
}

.product-info p {
  color: #555;
  text-decoration: none;
}
.main-container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #ccc;
  padding: 10px;
}

.toggle-filters {
  display: block;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}

.filters {
  margin-top: 10px;
}

#filters:target {
  display: block;
}

.filter-group {
  margin-bottom: 10px;
}

.filter-button {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #000;
  text-align: left;
  font-family: Arial, sans-serif;
}

.filter-button:hover {
  background-color: #f0f0f0;
}
h3{
  font-family: Arial, sans-serif;
}
a:-webkit-any-link {
  color: grey;
  cursor: pointer;
  text-decoration: none;
}
.contenido {
  flex: 1;
}
